<!--
	作者：ZhangXin
	时间：2020-07-23
	描述：博客管理页面
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments::head(~{::title})">
	<title>博客管理</title>
</head>

	<body>
	<!--导航-->
	<nav th:replace="admin/fragments::menu(1)"></nav>

		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a href="#" class="item">发布</a>
					<a href="#" class="active teal item">列表</a>
				</div>
			</div>

		</div>

		<!--中间内容-->
		<div class="m-container-mini m-padded-tb-big ">
			<div class="ui container">
				<form action="#" method="post" class="ui segment form">
					<div class="inline fields">
						<div class="field">
							<input type="text" name="title" placeholder="标题" />
						</div>
						<div class="field">
							<div class="ui selection dropdown">
								<input type="hidden" name="type" />
								<i class="dropdown icon"></i>
								<div class="default text">分类</div>
								<div class="menu">
									<div class="item" data-value="1">Java</div>
									<div class="item" data-value="2">.net</div>
								</div>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="recommend" name="recommend" />
								<label for="recommend">推荐</label>
							</div>
						</div>
						<div class="field">
							<button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
						</div>
					</div>
				</form>
				<table class="ui table">
					<thead>
						<tr align="center">
							<th></th>
							<th>标题</th>
							<th>类型</th>
							<th>推荐</th>
							<th>更新时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr align="center">
							<td>1</td>
							<td>Java 基础</td>
							<td>Java</td>
							<td>是</td>
							<td>2020-07-01 09:00</td>
							<td>
								<a href="#" class="ui mini teal basic button">编辑</a>
								<a href="#" onclick="return confirm('确定要删除该文章吗？')" class="ui mini red basic button">删除</a>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="6">
								<div class="ui inverted divided stackable grid">
									<div class="three wide column" align="center">
										<a class="item">上一页</a>
									</div>

									<div class="ten wide column" align="center">
										<p>第 <span></span> 页，共 <span></span> 页，有 <span></span> 篇文章</p>
									</div>

									<div class="three wide column" align="center">
										<a class="item">下一页</a>
									</div>
								</div>
								<div align="center">
									<a href="#">
										<button type="button" class="ui teal button m-mobile-wide m-margin-top"><i class="pencil icon"></i>新增</button>
									</a>
								</div>
							</th>
						</tr>
					</tfoot>
				</table>
				<div class="ui success message">
					<i class="close icon"></i>
					<div class="">提示：操作成功！</div>
				</div>
			</div>
		</div>

		<!--底部内容-->
		<footer th:replace="admin/fragments::footer"></footer>

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	    <script src="../static/js/time.js" th:src="@{/js/time.js}"></script>

		<script>
			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-hide')
			})

			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-show');

			});

			$('.ui.dropdown').dropdown({
				on: 'hover'
			});

			//消息提示关闭初始化
			$('.message .close')
				.on('click', function() {
					$(this)
						.closest('.message')
						.transition('fade');
				});
		</script>
	</body>

</html>