<!--
	作者：ZhangXin
	时间：2020-07-23
	描述：博客后台首页页面
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments::head(~{::title})">
	<title>后台首页</title>
</head>

	<body>
	<!--导航-->
	<nav th:replace="admin/fragments::menu(0)"></nav>

	<br>
		<br>
		<br>

		<!--中间内容-->
		<div class="m-container-mini m-padded-tb-big ">
			<div class="ui container">
				<div class="ui success large  message">
					<p align="center">欢迎登录！</p>
				</div>
				 <img src="../../static/images/001.jpg" th:src="@{/images/001.jpg}" alt="" class="ui rounded bordered fluid image">
			</div>
		</div>

	<!--底部内容-->
	<footer th:replace="admin/fragments::footer"></footer>

	<script th:replace="admin/fragments::script"></script>

		<script>
			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-hide')
			})


			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-show');

			});

			//下拉列表
			$('.ui.dropdown').dropdown({
				on: 'hover'
			});

			//消息提示关闭初始化
			$('.message .close')
				.on('click', function() {
					$(this)
						.closest('.message')
						.transition('fade');
				});
		</script>
	</body>

</html>