<!--
	作者：ZhangXin
	时间：2020-07-22
	描述：博客归档页面
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head(~{::title})">
	<title>归档</title>
</head>

	<body>
	<!--导航-->
	<nav th:replace="fragments::menu(4)"></nav>


	<!--中间内容-->
		<div class="m-container-mini m-padded-tb-big m-opacity-mini">
			<div class="ui container">
				<!--header  -->
				<div class="ui top attached padded segment">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<h3 class="ui teal header">归档</h3>
						</div>
						<div class="right aligned column">
							共
							<h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}"> 114 </h2>篇博客
						</div>
					</div>
				</div>
                <th:block th:each="item:${archiveMap}">
				<h1 class="ui center aligned header" th:text="${item.key}">2019</h1>
				<div class="ui fluid vertical menu">
					<a href="#" target="_blank" class="item" th:each="blog:${item.value}" th:href="@{/blog/{id}(id=${blog.id})}">
						<span>
							<i class="mini teal circle icon"></i><span th:text="${blog.title}">java 基础学习</span>
							<div class="ui teal basic left pointing label" th:text="${#dates.format(blog.updateTime,'MMMdd')}">10月1日</div>
						</span>
							<div class="ui orange basic left pointing label" th:text="${blog.flag}">原创</div>
					</a>
				</div>
				</th:block>
			</div>

		</div>

		<!--底部内容-->
		<footer th:replace="fragments::footer"></footer>
	    <script th:replace="fragments::script"></script>

		<script>
			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-hide')
			})



			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-show');

			});
		</script>
	</body>

</html>