<!--
	作者：ZhangXin
	时间：2020-07-21
	描述：博客标签页面
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head(~{::title})">
	<title>标签</title>
</head>

	<body>
	<!--导航-->
	<nav th:replace="fragments::menu(3)"></nav>


	<!--中间内容-->
		<div class="m-container-mini m-padded-tb-big m-opacity-mini">
			<div class="ui container">
				<!--header  -->
				<div class="ui top attached segment">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<h3 class="ui teal header">标签</h3>
						</div>
						<div class="right aligned column">
							共
							<h2 class="ui orange header m-inline-block m-text-thin"> 14 </h2>个
						</div>
					</div>
				</div>
				<div class="ui attached segment m-padded-tb-large">	
						<a href="#" target="_blank" class="ui  teal basic left pointing large label m-margin-tb-tiny">
							框架
							<div class="detail">23</div>
						</a>
						<a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
							框架
							<div class="detail">23</div>
						</a>
						<a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
							框架
							<div class="detail">23</div>
						</a>
						<a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
							框架
							<div class="detail">23</div>
						</a>
						<a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
							框架
							<div class="detail">23</div>
						</a>
						<a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
							框架
							<div class="detail">23</div>
						</a>
						<a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
							框架
							<div class="detail">23</div>
						</a>

				</div>
				<div class="ui top attached teal segment">
					<div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
						<div class="ui mobile reversed stackable grid">
							<div class="eleven wide column">
								<h3 class="ui header">Spring Boot-01- 快速入门篇</h3>
								<p class="m-text">pring Boot 是由 Pivotal 团队提供的全新框架。Spring Boot 是所有基于 Spring Framework 5.0 开发的项目的起点。Spring Boot 的设计是为了让你尽可能快的跑起来 Spring 应用程序并且尽可能减少你的配置文件。
								</p>
								<div class="ui stackable grid">
									<div class="row">
									<div class="eleven wide column">
										<div class="ui mini horizontal link list">
											<div class="item">
												<img src="../static/images/001.jpg" alt="" class="ui avatar image" />
												<div class="content">
													<a href="#" class="header">ZhangXin</a>
												</div>
											</div>
											<div class="item">
												<i class="calendar icon"></i>2020-07-20
											</div>
											<div class="item">
												<i class="eye icon"></i>1234
											</div>
										</div>
									</div>
									<div class="right attached five wide column">
										<a href="#" target="_blank" class="ui teal basic label m-padded-mini m-text-thin">
											SpringBoot
										</a>
									</div>
									</div>
									<div class="row">
										<div class="column">
											<a href="#" class="ui basic teal left pointing label m-text-thin">java</a>
										</div>							
									</div>
								</div>

							</div>
							<div class="five wide column">
								<a href="#" target="_blank">
									<img src="../static/images/001.jpg" alt="" class="ui rounded image" />
								</a>
							</div>
						</div>
					</div>
					<div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
						<div class="ui mobile reversed stackable grid">
							<div class="eleven wide column">
								<h3 class="ui header">Spring Boot-01- 快速入门篇</h3>
								<p class="m-text">pring Boot 是由 Pivotal 团队提供的全新框架。Spring Boot 是所有基于 Spring Framework 5.0 开发的项目的起点。Spring Boot 的设计是为了让你尽可能快的跑起来 Spring 应用程序并且尽可能减少你的配置文件。
								</p>
								<div class="ui stackable grid">
									<div class="row">
									<div class="eleven wide column">
										<div class="ui mini horizontal link list">
											<div class="item">
												<img src="../static/images/001.jpg" alt="" class="ui avatar image" />
												<div class="content">
													<a href="#" class="header">ZhangXin</a>
												</div>
											</div>
											<div class="item">
												<i class="calendar icon"></i>2020-07-20
											</div>
											<div class="item">
												<i class="eye icon"></i>1234
											</div>
										</div>
									</div>
									<div class="right attached five wide column">
										<a href="#" target="_blank" class="ui teal basic label m-padded-mini m-text-thin">
											SpringBoot
										</a>
									</div>
									</div>
									<div class="row">
										<div class="column">
											<a href="#" class="ui basic teal left pointing label m-text-thin">java</a>
										</div>							
									</div>
								</div>

							</div>
							<div class="five wide column">
								<a href="#" target="_blank">
									<img src="../static/images/001.jpg" alt="" class="ui rounded image" />
								</a>
							</div>
						</div>
					</div>
					<div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
						<div class="ui mobile reversed stackable grid">
							<div class="eleven wide column">
								<h3 class="ui header">Spring Boot-01- 快速入门篇</h3>
								<p class="m-text">pring Boot 是由 Pivotal 团队提供的全新框架。Spring Boot 是所有基于 Spring Framework 5.0 开发的项目的起点。Spring Boot 的设计是为了让你尽可能快的跑起来 Spring 应用程序并且尽可能减少你的配置文件。
								</p>
								<div class="ui stackable grid">
									<div class="row">
									<div class="eleven wide column">
										<div class="ui mini horizontal link list">
											<div class="item">
												<img src="../static/images/001.jpg" alt="" class="ui avatar image" />
												<div class="content">
													<a href="#" class="header">ZhangXin</a>
												</div>
											</div>
											<div class="item">
												<i class="calendar icon"></i>2020-07-20
											</div>
											<div class="item">
												<i class="eye icon"></i>1234
											</div>
										</div>
									</div>
									<div class="right attached five wide column">
										<a href="#" target="_blank" class="ui teal basic label m-padded-mini m-text-thin">
											SpringBoot
										</a>
									</div>
									</div>
									<div class="row">
										<div class="column">
											<a href="#" class="ui basic teal left pointing label m-text-thin">java</a>
										</div>							
									</div>
								</div>

							</div>
							<div class="five wide column">
								<a href="#" target="_blank">
									<img src="../static/images/001.jpg" alt="" class="ui rounded image" />
								</a>
							</div>
						</div>
					</div>
					<div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
						<div class="ui mobile reversed stackable grid">
							<div class="eleven wide column">
								<h3 class="ui header">Spring Boot-01- 快速入门篇</h3>
								<p class="m-text">pring Boot 是由 Pivotal 团队提供的全新框架。Spring Boot 是所有基于 Spring Framework 5.0 开发的项目的起点。Spring Boot 的设计是为了让你尽可能快的跑起来 Spring 应用程序并且尽可能减少你的配置文件。
								</p>
								<div class="ui stackable grid">
									<div class="row">
									<div class="eleven wide column">
										<div class="ui mini horizontal link list">
											<div class="item">
												<img src="../static/images/001.jpg" alt="" class="ui avatar image" />
												<div class="content">
													<a href="#" class="header">ZhangXin</a>
												</div>
											</div>
											<div class="item">
												<i class="calendar icon"></i>2020-07-20
											</div>
											<div class="item">
												<i class="eye icon"></i>1234
											</div>
										</div>
									</div>
									<div class="right attached five wide column">
										<a href="#" target="_blank" class="ui teal basic label m-padded-mini m-text-thin">
											SpringBoot
										</a>
									</div>
									</div>
									<div class="row">
										<div class="column">
											<a href="#" class="ui basic teal left pointing label m-text-thin">java</a>
										</div>							
									</div>
								</div>

							</div>
							<div class="five wide column">
								<a href="#" target="_blank">
									<img src="../static/images/001.jpg" alt="" class="ui rounded image" />
								</a>
							</div>
						</div>
					</div>
					<!--footer-->
					<div class="ui bottom attached segment">
						<div class="ui middle aligned two column grid">
							<div class="column">
								<a href="#" class="ui mini teal basic button">上一页</a>
							</div>
							<div class="right aligned column">
								<a href="#" class="ui mini teal basic button">下一页</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--底部内容-->
		<footer th:replace="fragments::footer"></footer>

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

		<script>
			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-hide')
			})

			// 运行时间统计
			function secondToDate(second) {
				if(!second) {
					return 0;
				}
				var time = new Array(0, 0, 0, 0, 0);
				if(second >= 365 * 24 * 3600) {
					time[0] = parseInt(second / (365 * 24 * 3600));
					second %= 365 * 24 * 3600;
				}
				if(second >= 24 * 3600) {
					time[1] = parseInt(second / (24 * 3600));
					second %= 24 * 3600;
				}
				if(second >= 3600) {
					time[2] = parseInt(second / 3600);
					second %= 3600;
				}
				if(second >= 60) {
					time[3] = parseInt(second / 60);
					second %= 60;
				}
				if(second > 0) {
					time[4] = second;
				}
				return time;
			}

			function setTime() {
				/*此处为网站的创建时间*/
				var create_time = Math.round(new Date(Date.UTC(2020, 05, 50, 15, 15, 15)).getTime() / 1000);
				var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
				currentTime = secondToDate((timestamp - create_time));
				currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天' +
					currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4] +
					'秒';
				document.getElementById("htmer_time").innerHTML = currentTimeHtml;
			}
			setInterval(setTime, 1000);

			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-show');

			});
		</script>
	</body>

</html>